[auth]
server_url = https://passbolt.example.com
server_fingerprint = FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
http_username = john.doe
http_password = 1234

[sharing]
default_owners = Liipers
default_readers = Liipers